@model NominasSAT.Models.RegisterViewModel

@{
    ViewBag.Title = "Registrarse";
    Layout = "../Shared/_LayoutLogin.cshtml";
}
<br />
<br />
<br />
<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-md-4">
        <div style="height:20px;"></div>
        <h4>Información sobre el registro</h4>
        <hr />
        <p>Para registrar una nueva cuenta, deberá capturar todos los campos. 
            El campo de email o correo electrónico, será utilizado como usuario para ingresar al sistema.</p>
            
            <p><b>IMPORTANTE:</b>
            <br />
            Al captutar los datos de los apartados <b>"Archivo *.cer"</b> y <b>"Archivo *.key"</b>, es importante considerar que usted 
            puede utilizar los archivos CER y KEY, ya sea de su FIEL o de su Certificado de Sello Digital (CSD)</p>
        </>
        <br />
        <br />
        <a href="#">Ver aviso de privacidad</a>
        <div style="height:12px;"></div>
        <a href="#">Ver acuerdo de servicio</a>
        <div style="height:12px;"></div>
        <a href="#">Ver licencia de uso</a>
        <br />
        <br />
    </div>
    <div class="col-md-8">
        <div style="height:20px;"></div>
        <section id="registerForm">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Ingrese los datos del usuario</h4>
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.Nombres, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Nombres, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Nombres, null, new { @class = "nw-label-error" })
                    </div>
                </div>    
                <div class="form-group">
                    @Html.LabelFor(m => m.Apellidos, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Apellidos, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Apellidos, null, new { @class = "nw-label-error" })
                    </div>
                </div>
    
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "nw-label-error" })
                    </div>
                </div>                
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmEmail, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmEmail, null, new { @class = "nw-label-error" })
                    </div>
                </div>
@*<div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "nw-label-error"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "nw-label-error"})
                    </div>
                </div>*@
                <br />
                <br />
                <h4>Ingrese los datos de la FIEL o del Certificado</h4>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(m => m.RFC, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.RFC, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.RFC, null, new { @class = "nw-label-error" })
                    </div>
                </div>                
                <div class="form-group">
                    @Html.LabelFor(m => m.CertificadoCer, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        <input type="file" name="cer" accept = ".cer"/>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CertificadoKey, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        <input type="file" name="key" accept = ".key"/>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CertificadoContrasena, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.CertificadoContrasena, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CertificadoContrasena, null, new { @class = "nw-label-error" })
                    </div>
                </div>              
                <br />
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <div class="checkbox" style="margin-left: 20px;">
                            @Html.CheckBoxFor(m => m.AcceptTerms)
                            @Html.LabelFor(m => m.AcceptTerms)
                            <br />
                            @Html.ValidationMessageFor(m => m.AcceptTerms, null, new { @class = "nw-label-error" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input onclick="return validateTerms();" type="submit" class="btn btn-primary" value="Registrarse" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

<script>
    var validateTerms = function () {
        var check = document.getElementById("AcceptTerms").checked;
        if (check) {
            return true;
        }
        else {
            showAlert("Debe aceptar el aviso de privacidad, acuerdo de servicio y licencia de uso.")
            return false;
        }
    }
</script>
@if (ViewBag.CustomErrors != null && ViewBag.CustomErrors != "")
{
    <script>
        $(document).ready(
                function () {
                    showAlert('@ViewBag.CustomErrors');
                });
    </script>
}