@model NominasSAT.Models.TopesdeVecesdeSalarioXRamo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TopesdeVecesdeSalarioXRamo</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tope1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tope1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tope2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tope2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tope3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tope3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tope4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tope4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tope5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tope5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tope6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tope6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tope7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tope7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tope8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tope8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tope9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tope9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tope10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tope10)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
