@model IEnumerable<NominasSAT.Models.TablaP>
@{
    ViewBag.Title = "IMSS";
}

<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Cuotas y datos para el calculo del IMSS
                        <small>Tabla P</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-table"></i>Catálogos</a></li>
            <li class="active">IMSS</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content" style="text-align: justify">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">General</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table">
                    <tr>
                        <th>Periodo</th>
                        <th>Gastos med</th>
                        <th>Fija</th>
                        <th>Mas 3SM</th>
                        <th>Dinero</th>
                        <th>Invalidez Vid</th>
                        <th>Cesantia y V</th>
                        <th>Guarderia</th>
                        <th>Retiro</th>
                        <th></th>
                        <th>Infonavit</th>
                        <th></th>
                    </tr>
                    @foreach (var itemTablaP in ViewBag.TablaP)
                    {
                        <tr>
                            <td>@itemTablaP.Periodo
                            </td>
                            <td>@itemTablaP.TablaP1</td>
                            <td>@itemTablaP.TablaP2</td>
                            <td>@itemTablaP.TablaP3</td>
                            <td>@itemTablaP.TablaP4</td>
                            <td>@itemTablaP.TablaP5</td>
                            <td>@itemTablaP.TablaP6</td>
                            <td>@itemTablaP.TablaP7</td>
                            <td>@itemTablaP.TablaP8</td>
                            <td>@itemTablaP.TablaP9</td>
                            <td>@itemTablaP.TablaP10</td>
                            <td></td>
                        </tr>
                    }
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Tabla T</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table">
                    <tr>
                        <th>Periodo</th>
                        <th>Gastos med</th>
                        <th>Fija</th>
                        <th>Mas 3SM</th>
                        <th>Dinero</th>
                        <th>Invalidez Vid</th>
                        <th>Cesantia y V</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    @foreach (var itemTablaT in ViewBag.TablaT)
                    {
                        <tr>
                            <td>
                                @itemTablaT.Periodo
                            </td>
                            <td>@itemTablaT.TablaT1</td>
                            <td>@itemTablaT.TablaT2</td>
                            <td>@itemTablaT.TablaT3</td>
                            <td>@itemTablaT.TablaT4</td>
                            <td>@itemTablaT.TablaT5</td>
                            <td>@itemTablaT.TablaT6</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Tabla TT</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table">
                    <tr>
                        <th>Periodo
                        </th>
                        <th>1
                        </th>
                        <th>2
                        </th>
                        <th>3
                        </th>
                        <th>4
                        </th>
                        <th>5
                        </th>
                        <th>6
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    @foreach (var itemTablaTT in ViewBag.TablaTT)
                    {
                        <tr>
                            <td>
                                @itemTablaTT.Periodo
                            </td>
                            <td>@itemTablaTT.TablaTT1</td>
                            <td>@itemTablaTT.TablaTT2</td>
                            <td>@itemTablaTT.TablaTT3</td>
                            <td>@itemTablaTT.TablaTT4</td>
                            <td>@itemTablaTT.TablaTT5</td>
                            <td>@itemTablaTT.TablaTT6</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Salarios minimos</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table">
                    <tr>
                        <th>Zona
                        </th>
                        <th>Salario
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    @foreach (var itemSalarioMinimo in ViewBag.SalarioMinimo)
                    {
                        <tr>
                            <td>@itemSalarioMinimo.Zona</td>
                            <td>@itemSalarioMinimo.Monto</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                </table>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Tabla de topes de veces de salario minimo para cada ramo</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table">
                    <tr>
                        <th>Periodo
                        </th>
                        <th>1
                        </th>
                        <th>2
                        </th>
                        <th>3
                        </th>
                        <th>4
                        </th>
                        <th>5
                        </th>
                        <th>6
                        </th>
                        <th>7
                        </th>
                        <th>8
                        </th>
                        <th>9
                        </th>
                        <th>10
                        </th>
                        <th></th>
                    </tr>

                    <tr>
                        <td>
                            @ViewBag.TopesdeVecesdeSalarioXRamoes.Periodo
                        </td>
                        <td>@ViewBag.TopesdeVecesdeSalarioXRamoes.Tope1</td>
                        <td>@ViewBag.TopesdeVecesdeSalarioXRamoes.Tope2</td>
                        <td>@ViewBag.TopesdeVecesdeSalarioXRamoes.Tope3</td>
                        <td>@ViewBag.TopesdeVecesdeSalarioXRamoes.Tope4</td>
                        <td>@ViewBag.TopesdeVecesdeSalarioXRamoes.Tope5</td>
                        <td>@ViewBag.TopesdeVecesdeSalarioXRamoes.Tope6</td>
                        <td>@ViewBag.TopesdeVecesdeSalarioXRamoes.Tope7</td>
                        <td>@ViewBag.TopesdeVecesdeSalarioXRamoes.Tope8</td>
                        <td>@ViewBag.TopesdeVecesdeSalarioXRamoes.Tope9</td>
                        <td>@ViewBag.TopesdeVecesdeSalarioXRamoes.Tope10</td>
                        <td></td>
                    </tr>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Tabla de topes de salarios minimos por veces de salarios minimos</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table">
                    <tr>
                        <th>Periodo
                        </th>
                        <th>1
                        </th>
                        <th>2
                        </th>
                        <th>3
                        </th>
                        <th>4
                        </th>
                        <th>5
                        </th>
                        <th>6
                        </th>
                        <th>7
                        </th>
                        <th>8
                        </th>
                        <th>9
                        </th>
                        <th>10
                        </th>
                        <th></th>
                    </tr>

                    <tr>
                        <td>
                            @ViewBag.TopesdeVecesdeSalarioXSalarioMinimo.Periodo
                        </td>
                        <td>@ViewBag.TopesdeVecesdeSalarioXSalarioMinimo.Tope1</td>
                        <td>@ViewBag.TopesdeVecesdeSalarioXSalarioMinimo.Tope2</td>
                        <td>@ViewBag.TopesdeVecesdeSalarioXSalarioMinimo.Tope3</td>
                        <td>@ViewBag.TopesdeVecesdeSalarioXSalarioMinimo.Tope4</td>
                        <td>@ViewBag.TopesdeVecesdeSalarioXSalarioMinimo.Tope5</td>
                        <td>@ViewBag.TopesdeVecesdeSalarioXSalarioMinimo.Tope6</td>
                        <td>@ViewBag.TopesdeVecesdeSalarioXSalarioMinimo.Tope7</td>
                        <td>@ViewBag.TopesdeVecesdeSalarioXSalarioMinimo.Tope8</td>
                        <td>@ViewBag.TopesdeVecesdeSalarioXSalarioMinimo.Tope9</td>
                        <td>@ViewBag.TopesdeVecesdeSalarioXSalarioMinimo.Tope10</td>
                        <td></td>
                    </tr>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</aside>
<!-- /.right-side -->


