@model NominasSAT.Models.Empresa

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Empresa</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.EmpresaId)

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RFC, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RFC)
                @Html.ValidationMessageFor(model => model.RFC)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Regimen, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Regimen)
                @Html.ValidationMessageFor(model => model.Regimen)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegistroPatronal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RegistroPatronal)
                @Html.ValidationMessageFor(model => model.RegistroPatronal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClaseRiesgoTrabajo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClaseRiesgoTrabajo)
                @Html.ValidationMessageFor(model => model.ClaseRiesgoTrabajo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LugarExpedicion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LugarExpedicion)
                @Html.ValidationMessageFor(model => model.LugarExpedicion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Calle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Calle)
                @Html.ValidationMessageFor(model => model.Calle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroExterior, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroExterior)
                @Html.ValidationMessageFor(model => model.NumeroExterior)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroInterior, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroInterior)
                @Html.ValidationMessageFor(model => model.NumeroInterior)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Colonia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Colonia)
                @Html.ValidationMessageFor(model => model.Colonia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CP)
                @Html.ValidationMessageFor(model => model.CP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ciudad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ciudad)
                @Html.ValidationMessageFor(model => model.Ciudad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Municipio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Municipio)
                @Html.ValidationMessageFor(model => model.Municipio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Estado)
                @Html.ValidationMessageFor(model => model.Estado)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CertificadoCer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CertificadoCer)
                @Html.ValidationMessageFor(model => model.CertificadoCer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CertificadoKey, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CertificadoKey)
                @Html.ValidationMessageFor(model => model.CertificadoKey)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CertificadoContasena, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CertificadoContasena)
                @Html.ValidationMessageFor(model => model.CertificadoContasena)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
