@model IEnumerable<NominasSAT.Models.ISRLimitesConfiguracion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuintoLimiteInferior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadQuintoNivel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiasTarifa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuintoLimiteInferior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadQuintoNivel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiasTarifa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RFC }) |
            @Html.ActionLink("Details", "Details", new { id=item.RFC }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RFC })
        </td>
    </tr>
}

</table>
