@model NominasSAT.Models.NominaCFDI

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NominaCFDI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SalarioDiario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalarioDiario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SBC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SBC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasPagar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasPagar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Incidencias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Incidencias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ausentismo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ausentismo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasTrabajados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasTrabajados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasExtrasDobles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasExtrasDobles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasExtrasTriples)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasExtrasTriples)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PSueldosSalariosRayasJornales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PSueldosSalariosRayasJornales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PSueldoExcento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PSueldoExcento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PSueldoGravado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PSueldoGravado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHorasExtrasDobles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHorasExtrasDobles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHorasExtrasTriples)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHorasExtrasTriples)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHorasExtras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHorasExtras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHorasExtrasExcento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHorasExtrasExcento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHorasExtrasGravado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHorasExtrasGravado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PComisiones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PComisiones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POtros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POtros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PPrimavacacional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PPrimavacacional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PTotalPercepciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PTotalPercepciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DSubsidio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DSubsidio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeguridadSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeguridadSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Infonavit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Infonavit)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
