@model NominasSAT.Models.Empleado

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CURP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CURP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumSeguroSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumSeguroSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalarioDiario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalarioDiario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SBC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SBC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicioLaboral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicioLaboral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumdeEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumdeEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regimen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regimen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLABE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLABE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Banco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Banco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoContrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoContrato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoJornada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoJornada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodicidadPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodicidadPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiesgoPuesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiesgoPuesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RFCPatron)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFCPatron)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroExterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroExterior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroInterior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroInterior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colonia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CP)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
