@model NominasSAT.Models.TablaP

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TablaP</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TablaP1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TablaP1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TablaP2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TablaP2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TablaP3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TablaP3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TablaP4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TablaP4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TablaP5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TablaP5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TablaP6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TablaP6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TablaP7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TablaP7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TablaP8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TablaP8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TablaP9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TablaP9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TablaP10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TablaP10)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
